<div class="left_menu"> 
		<ul class="nav nav-list">
              <li class="nav-header">Головне меню</li>
              <li class="active"><%= link_to_unless_current " Головна сторінка ",root_path %></li>
              <li><%= link_to_unless_current " Про сайт ",about_path %></li>
              <li><%= link_to_unless_current " Контакти ",contact_path %></li>
              <li><%= link_to_unless_current " Інформація ",info_path %></li>
              <li class="nav-header">RoRtester</li>
              <li><%= link_to_unless_current " Інструкція користувача ",instruction_path %></li>
              <li><%= link_to_unless_current " Завдання ",tasks_path %></li>
              <li><%= link_to_unless_current " Розв'язки ",answers_path %></li>
              <li><a href="http://twitter.github.com/bootstrap/examples/fluid.html#">Тестування</a></li>
              <li><a href="http://twitter.github.com/bootstrap/examples/fluid.html#">Програмний код</a></li>
              <li><a href="http://twitter.github.com/bootstrap/examples/fluid.html#">Tutorial Rails</a></li>
              <li class="nav-header">Тестування</li>
              <li><a href="http://twitter.github.com/bootstrap/examples/fluid.html#">Розробники</a></li>
              <li><a href="http://twitter.github.com/bootstrap/examples/fluid.html#">Корисні джерела</a></li>
              <li><a href="http://twitter.github.com/bootstrap/examples/fluid.html#">Додаткова інформація</a></li>
            </ul>
        </div>