<div id="container">
<div class="left_menu"> 
		<ul class="nav nav-list">
              <li class="nav-header">Головне меню</li>
              <li class="active"><%= link_to_unless_current " Головна сторінка ",root_path %></li>
              <li><%= link_to_unless_current " Про сайт ",about_path %></li>
              <li><%= link_to_unless_current " Контакти ",contact_path %></li>
              <li><%= link_to_unless_current " Інформація ",info_path %></li>
              <li class="nav-header">RoRtester</li>
              <li><%= link_to_unless_current " Інструкція користувача ",instruction_path %></li>
              <li><%= link_to_unless_current " Завдання ",tasks_path %></li>
              <li><%= link_to_unless_current " Розв'язки ",answers_path %></li>
              <li><%= link_to_unless_current " Тестування",testing_path %></li>
              <li><%= link_to_unless_current " Програмний код",code_path %></li>
              <li><a href="http://railstutorial.ru/chapters/4_0/beginning">Rails tutorial</a></li>
              <li class="nav-header">Тестування</li>
              <li><%= link_to_unless_current " Розробники ",developers_path %></li>
              <li><%= link_to_unless_current " Корисні джерела ",source_path %></li>
              <li><%= link_to_unless_current " Додаткова інформація ",addinfo_path %></li>
            </ul>
        </div>
<div class="main">