<!DOCTYPE html>
<html>
<head>
  <title>RoRkoans</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'logo1.png' %>
</head>

<body>
	<div id=top_menu>

			<div class="zagolovok">
	         <zagolovok><%= link_to_unless_current " Головна сторінка ",root_path %><%= link_to_unless_current " Про сайт ",about_path %><%= link_to_unless_current " Контакти ",contact_path %><%= link_to_unless_current " Інформація ",info_path %></zagolovok>
	    </div>       
	</div>


	<div id="wrapper">

		<div id="headline">

		    <logo> Тестувальна програма для вивчення  фреймворку Ruby on Rails </logo>
		</div>

		<hr color=black>
		
              <%= yield %>
              
        </div>

    </div>
	</div>

	<div id="footer">
		© Copyright April 2014 <br> Created by Germanskij Vasyl
	</div>

</body>
</html>
